{% load thumbnail %}
<article>
  <a href="{% url 'posts:post_detail' post.pk %}">
    <p>{{ post.title }}</p>
  </a>
</article>

<div class="container py-5" style="
padding: 0rem!important;
display: flex!important;
justify-content: space-between;
">

  {% if post.group and not group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">
      <span class="badge rounded-pill bg-dark">{{ post.group.title }}</span>
    </a>
  {% endif %}
  <div>
  <span>
    <a href="{% url 'posts:profile' post.author %}">@{{ post.author }}</a>
  </span>
  <span style="color: grey;">
    {{ post.created|date:"d E Y" }}
  </span>
</div>
</p>


</div>
  {% if not forloop.last %}<hr>{% endif %}
