{% load thumbnail %}
<div class="card" style="border: none;">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'posts:post_detail' post.pk %}" style="text-decoration: none;">
        <h4 style="color: black;">{{ post.title }}</h4>
      </a>
    </h5>
    <p class="card-text"><small class="text-muted" style="display: flex!important; justify-content:  space-between;">
      {% if post.group and not group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">
        <span class="badge rounded-pill bg-dark">{{ post.group.title }}</span>
      </a>
      {% endif %}
        <span>
      <a href="{% url 'posts:profile' post.author %}">@{{ post.author }}</a>
      {{ post.created|date:"d E Y" }}
        </span>
    </small></p>
    <hr>
  </div>
</div>
